.fot-bar {
    display: flex;
    background-color: #fcf7f8;
    margin: 30px;
}

.item {
    display: flex;
    flex: 1;
    position: relative;
}


.item:last-child{
    flex: 2;
    justify-content: space-between;
}
.cards {
    flex: 1;
    padding: 0 20px;   
}

.text {
    color: chocolate;
    font-size: 20px;
    margin-top: 10px;
}

.textdata {
    color: #ab7d86;
}

@media screen and (max-width:480px) {
    .fot-bar{
              height: auto;

    }
    .item:first-child{
              display: none;
    }
    .item{
              flex-direction: column;
    }
    
}